<footer class="main-footer text-sm">
    <strong>@ViewBag.Copyright<a href="https://adminlte.io"></a></strong>
    Tüm hakları saklıdır.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 0.0.1
    </div>
</footer>