<section id="pricing" class="pricing">

    <!--  Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>FİYATLANDIRMA</h2>
        <p>fiyatlandırma politikamız</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="zoom-in" data-aos-delay="100">

        <div class="row g-4">

            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Başlangıç (200)</h3>
                    <div class="icon">
                        <i class="bi bi-box"></i>
                    </div>
                    <h4><sup>₺</sup>350<span> / ay</span></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>200 Anaç Aktif Hayvan</span></li>
                        <li><i class="bi bi-check"></i> <span>Şuan sistemde olan ve gelecek olan bütün özellikler dahildir</span></li>
                        <li><i class="bi bi-check"></i> <span>İstediğiniz zaman iptal edebilirsiniz</span></li>
                    </ul>
                    <div class="text-center"><a id="btnBuy" href="#" class="buy-btn">Satın Al 1</a></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4">
                <div class="pricing-item featured">
                    <h3>Plan A (500)</h3>
                    <div class="icon">
                        <i class="bi bi-box"></i>
                    </div>
                    <h4><sup>₺</sup>600<span> / ay</span></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>500 Anaç Aktif Hayvan</span></li>
                        <li><i class="bi bi-check"></i> <span>Şuan sistemde olan ve gelecek olan bütün özellikler dahildir</span></li>
                        <li><i class="bi bi-check"></i> <span>İstediğiniz zaman iptal edebilirsiniz</span></li>
                    </ul>
                    <div class="text-center"><button type="button" id="btnBuy" class="buy-btn btn-primary btn-block rounded-0">Satın Al 2</button></div>
                </div>
            </div><!-- End Pricing Item -->

            <div class="col-lg-4">
                <div class="pricing-item">
                    <h3>Plan A (1000)</h3>
                    <div class="icon">
                        <i class="bi bi-box"></i>
                    </div>
                    <h4><sup>₺</sup>950<span> / ay</span></h4>
                    <ul>
                        <li><i class="bi bi-check"></i> <span>1000 Anaç Aktif Hayvan</span></li>
                        <li><i class="bi bi-check"></i> <span>Şuan sistemde olan ve gelecek olan bütün özellikler dahildir</span></li>
                        <li><i class="bi bi-check"></i> <span>İstediğiniz zaman iptal edebilirsiniz</span></li>
                    </ul>
                    <div class="text-center"><a href="#" class="buy-btn">Satın Al</a></div>
                </div>
            </div><!-- End Pricing Item -->

        </div>

    </div>

</section>