<div class="modal fade" id="gmodal-lg" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">AnimalStall Kartı</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="txtdoz">Title <code>.Description bilgisi.</code></label>
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span id="spnTitle" class="info-box-number text-center text-muted mb-0"></span>
                            </div>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-12 col-sm-12">
                        <label for="txtdoz">Description <code>.Description bilgisi.</code></label>
                        <div class="info-box bg-light">
                            <div class="info-box-content">
                                <span id="spnDescription" class="info-box-number text-center text-muted mb-0"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-info btn-block btn-flat" data-dismiss="modal">İptal et</button>
            </div>
        </div>
    </div>
</div>