@using CiftlikTakip.MvcUI.Areas.admin.Models.ViewModels;
@{
    Layout = "~/Areas/admin/Views/Shared/_Layout.cshtml";
}
@model HomeView
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashboard</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-md-12">
                <div class="info-box mb-12 bg-warning">
                    <span class="info-box-icon"><i class="fa fa-paw"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Aktif Büyükbaş Sayısı</span>
                        <span class="info-box-number">@Model.BreedingRecordItemCount</span>
                    </div>
                </div>
                <div class="info-box mb-12 bg-success">
                    <span class="info-box-icon"><i class="far fa-envelope"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Gelen Mesaj Sayısı</span>
                        <span class="info-box-number">@Model.FContactsCount</span>
                    </div>
                </div>
                <div class="info-box mb-12 bg-danger">
                    <span class="info-box-icon"><i class="fas fa-users"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-text">Personel Sayısı</span>
                        <span class="info-box-number">@Model.EmployeeItemCount</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>